<!-- Portfolio Grid-->
<!-- <section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Recommendation</h2>
            <h3 class="section-subheading text-muted">Confused... Choose from here!!!</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4"> -->

                <!-- Portfolio item 1-->
                <!-- <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" (click)="returnpizza()">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid img-thumbnail" src="assets/pizza.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Pizza</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4"> -->
                <!-- Portfolio item 2-->
                <!-- <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" (click)="returncake()">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid img-thumbnail" src="assets/cake.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Cake</div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 mb-4"> -->
                <!-- Portfolio item 3-->
                <!-- <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" (click)="returnsalad()">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid img-thumbnail" src="assets/salad.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Salad</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section> -->



<!-- <div class="container mt-2 mb-2 card text-secondary shadow bg-light" *ngFor="let result of pizzaList">
    <div class="row">
        <div class="col-9">
            <h5 class="text-center"><b>{{result.recipe.label}}</b></h5>
            <h6><b>Ingredian Lines</b> </h6>
            <div *ngFor="let x of result.recipe.ingredientLines">{{x}} </div>


            <h6><b>Health labels </b>-
                {{result.recipe.healthLabels[0]}},{{result.recipe.healthLabels[1]}},{{result.recipe.healthLabels[2]}},
                {{result.recipe.healthLabels[3]}} </h6>

            <h6><b>Calories </b> - {{result.recipe.calories}} </h6>
            <h6><b>Vitamins</b></h6>
            {{result.recipe.totalNutrients.VITA_RAE.label}} - {{result.recipe.totalNutrients.VITA_RAE.quantity}}
            {{result.recipe.totalNutrients.VITA_RAE.unit}}
            <br> {{result.recipe.totalNutrients.VITB12.label}}- {{result.recipe.totalNutrients.VITB12.quantity}}
            {{result.recipe.totalNutrients.VITB12.unit}}
            <br>{{result.recipe.totalNutrients.VITC.label}}- {{result.recipe.totalNutrients.VITC.quantity}}
            {{result.recipe.totalNutrients.VITC.unit}} -->
            <!-- <br>{{result.recipe.totalNutrients.VITD.label}}-{{result.recipe.totalNutrients.VITD.quantity}}{{result.recipe.totalNutrients.VITD.unit}}
            <br>{{result.recipe.totalNutrients.TOCPHA.label}} -{{result.recipe.totalNutrients.TOCPHA.quantity}} {{result.recipe.totalNutrients.TOCPHA.unit}} 
          <br> -->

        <!-- </div>

        <div class="col-3">
            <img [src]="result.recipe.image" class=" img-fluid img-thumbnail rounded float-right" height="300"
                width="300" alt="Not available">
            <br>

            <a class="text-decoration-none" [href]="result.recipe.url">
                go to the website...
                <i class="bi bi-arrow-right"></i>
            </a>

        </div>

    </div>
</div>


<div class="container mt-2 mb-2 card text-secondary shadow bg-light" *ngFor="let result of cakeList">
    <div class="row">
        <div class="col-9">
            <h5 class="text-center"><b>{{result.recipe.label}}</b></h5>
            <h6><b>Ingredian Lines</b> </h6>
            <div *ngFor="let x of result.recipe.ingredientLines">{{x}} </div>


            <h6><b>Health labels </b>-
                {{result.recipe.healthLabels[0]}},{{result.recipe.healthLabels[1]}},{{result.recipe.healthLabels[2]}},
                {{result.recipe.healthLabels[3]}} </h6>

            <h6><b>Calories </b> - {{result.recipe.calories}} </h6>
            <h6><b>Vitamins</b></h6>
            {{result.recipe.totalNutrients.VITA_RAE.label}} - {{result.recipe.totalNutrients.VITA_RAE.quantity}}
            {{result.recipe.totalNutrients.VITA_RAE.unit}}
            <br> {{result.recipe.totalNutrients.VITB12.label}}- {{result.recipe.totalNutrients.VITB12.quantity}}
            {{result.recipe.totalNutrients.VITB12.unit}}
            <br>{{result.recipe.totalNutrients.VITC.label}}- {{result.recipe.totalNutrients.VITC.quantity}}
            {{result.recipe.totalNutrients.VITC.unit}} -->
            <!-- <br>{{result.recipe.totalNutrients.VITD.label}}-{{result.recipe.totalNutrients.VITD.quantity}}{{result.recipe.totalNutrients.VITD.unit}}
            <br>{{result.recipe.totalNutrients.TOCPHA.label}} -{{result.recipe.totalNutrients.TOCPHA.quantity}} {{result.recipe.totalNutrients.TOCPHA.unit}} 
          <br> -->

        <!-- </div>

        <div class="col-3">
            <img [src]="result.recipe.image" class=" img-fluid img-thumbnail rounded float-right" height="300"
                width="300" alt="Not available">
            <br>

            <a class="text-decoration-none" [href]="result.recipe.url">
                go to the website...
                <i class="bi bi-arrow-right"></i>
            </a>

        </div>

    </div>
</div>



<div class="container mt-2 mb-2 card text-secondary shadow bg-light" *ngFor="let result of saladList">
    <div class="row">
        <div class="col-9">
            <h5 class="text-center"><b>{{result.recipe.label}}</b></h5>
            <h6><b>Ingredian Lines</b> </h6>
            <div *ngFor="let x of result.recipe.ingredientLines">{{x}} </div> -->


            <!-- <h6><b>Health labels </b>-
                {{result.recipe.healthLabels[0]}},{{result.recipe.healthLabels[1]}},{{result.recipe.healthLabels[2]}},
                {{result.recipe.healthLabels[3]}} </h6>

            <h6><b>Calories </b> - {{result.recipe.calories}} </h6>
            <h6><b>Vitamins</b></h6>
            {{result.recipe.totalNutrients.VITA_RAE.label}} - {{result.recipe.totalNutrients.VITA_RAE.quantity}}
            {{result.recipe.totalNutrients.VITA_RAE.unit}}
            <br> {{result.recipe.totalNutrients.VITB12.label}}- {{result.recipe.totalNutrients.VITB12.quantity}}
            {{result.recipe.totalNutrients.VITB12.unit}}
            <br>{{result.recipe.totalNutrients.VITC.label}}- {{result.recipe.totalNutrients.VITC.quantity}}
            {{result.recipe.totalNutrients.VITC.unit}} -->
            <!-- <br>{{result.recipe.totalNutrients.VITD.label}}-{{result.recipe.totalNutrients.VITD.quantity}}{{result.recipe.totalNutrients.VITD.unit}}
            <br>{{result.recipe.totalNutrients.TOCPHA.label}} -{{result.recipe.totalNutrients.TOCPHA.quantity}} {{result.recipe.totalNutrients.TOCPHA.unit}} 
          <br> -->

        <!-- </div>

        <div class="col-3">
            <img [src]="result.recipe.image" class=" img-fluid img-thumbnail rounded float-right" height="300"
                width="300" alt="Not available">
            <br>

            <a class="text-decoration-none" [href]="result.recipe.url">
                go to the website...
                <i class="bi bi-arrow-right"></i>
            </a>

        </div>

    </div>
</div> -->