
       <app-nav></app-nav>

        <!-- Masthead-->
 <header class="masthead">
       <div class="container">
           <div class="masthead-subheading "> Here You can search your favourite food with it's ingredient and recipe</div>
           <!-- <h6 class="text-warning font-italic"> Here You can search your favourite food with it's ingredient and recipe</h6> -->
   
          <app-searchresult></app-searchresult>
         </div>
   </header>

<!-- <app-portfolio></app-portfolio> -->

<router-outlet></router-outlet>