

<!-- 

<div class="container"  >
   
  <app-searchresult *ngFor="let result of searchList" [label]="result.recipe.label" [ingredians]="result.recipe.ingredientLines[0]" [health]="result.recipe.healthLabels[0]"
  [calories]="result.recipe.calories" [vitaminA]="result.recipe.totalNutrients.VITA_RAE.quantity" [vitaminB]="result.recipe.totalNutrients.VITB12.quantity" [vitaminC]="result.recipe.totalNutrients.VITC.quantity"
  [vitaminD]="result.recipe.totalNutrients.VITD.quantity" [vitaminE]="result.recipe.totalNutrients.TOCPHA.quantity" [href]="result.recipe.url" [src]="result.recipe.image">
</app-searchresult>
 
  </div>
 -->
